/travelagency/persistence/target/
/travelagency/persistence/nbproject/
/persistence/nbproject/
/persistence/target/
/facade/target/
/service/target/
/service/nbproject/
/api/target/
/rest/target/
/web/target
/sampledata/target/
web/nbactions.xml
/web/logs/
